<div class="numeric-keyboard">
  <input class="keyboard-input" disabled type="text" value="{{progress$ | async}}">
  <div class="numpad-container">
    <div class="numpad"><button (click)="numberSbj.next(1)">1</button></div>
    <div class="numpad"><button (click)="numberSbj.next(2)">2</button></div>
    <div class="numpad"><button (click)="numberSbj.next(3)">3</button></div>
    <div class="numpad"><button (click)="numberSbj.next(4)">4</button></div>
    <div class="numpad"><button (click)="numberSbj.next(5)">5</button></div>
    <div class="numpad"><button (click)="numberSbj.next(6)">6</button></div>
    <div class="numpad"><button (click)="numberSbj.next(7)">7</button></div>
    <div class="numpad"><button (click)="numberSbj.next(8)">8</button></div>
    <div class="numpad"><button (click)="numberSbj.next(9)">9</button></div>
    <div class="numpad"><button class="reset-keypad " (click)="resetInput()">x</button></div>
    <div class="numpad"><button (click)="numberSbj.next(0)">0</button></div>
    <div class="numpad"><button class="correct-keypad " (click)="correctInput()"> < </button></div>
  </div>
</div>
